.color {
    background-color: black;
    height: 60px;

}

.letras  {
    color: black;
    display: flex;
    text-align: left;
}


.titulosnav{
    color: white;
    
}
.imagen{
    height: 60px;
    margin-top: 10px;
    width: 200px;
}
.amarillo{
   
    color: rgb(255, 255, 1);
}

.dropdown {
    float: left;
    overflow: hidden;
  }

  
  .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .user{
      margin-left: 950px;
      color: yellow;
  }
 
  